.search__bar{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17 ,12 , 46, 0.20) 0px 48px 100px 0px;
    margin-top: 10px;
    width: max-content;
    margin-top: 50px;
}

.form-group {
    font-size: 1.8rem;
    color: rgba(221, 38, 38, 0.863);
    color: var(--heading-color );
}

.form-group  input:focus{
   outline: none;
}

.form-group  h6{
    margin-bottom: 0;
}

.form-group-fast{
    border-right: 2px solid #ddd;


}

.search__icon i{
    font-size: 1.6rem;
    padding: 0.5rem;
    background:var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    

}